<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Podcast</title>
    <%- include('partials/includes') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="container">
      <h3>Your Cart contains</h3>
      <% cart.forEach((podcast) => { %>
      <img
        src="data:image/<%= podcast.podcastId.image.contentType %>;base64,
                <%= podcast.podcastId.image.data.toString('base64') %>"
        class="width-100"
      />
      <%= podcast.podcastId.name %> <%= podcast.podcastId.price %> <% }) %>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
