<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyPodcast</title>
  <%- include('partials/includes') %>
</head>
<body>
        <%- include('partials/header') %>
      <main>
        <section class="hero">
          <h1><strong class='brand'>My Podcast</strong></h1>
          <p class="hero-text"> is the source of boundless entertainment and knowledge. </p>          
        </section>
        <section class="podcasts">
          <h2>All Time Favourite's</h2>
        <div class="wrapper">
          <div class="text-podcast">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore aut, minima ea quas culpa aspernatur autem. Nisi quaerat quia porro alias illum illo ipsum quos, temporibus quasi in tempore!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore aut, minima ea quas culpa aspernatur autem. Nisi quaerat quia porro alias illum illo ipsum quos, temporibus quasi in tempore!</p>
            <%- include('partials/design') %>
          </div>
          <div class="img-podcast">
            <img src="/images/podcast1.jpg" alt="podcast1">
          </div>
          <div class="img-podcast">
            <img src="/images/podcast2.jpg" alt="podcast2">
          </div>
          <div class="text-podcast">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore aut, minima ea quas culpa aspernatur autem. Nisi quaerat quia porro alias illum illo ipsum quos, temporibus quasi in tempore!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore aut, minima ea quas culpa aspernatur autem. Nisi quaerat quia porro alias illum illo ipsum quos, temporibus quasi in tempore!</p>
            <%- include('partials/design') %>
          </div>
          <div class="text-podcast">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore aut, minima ea quas culpa aspernatur autem. Nisi quaerat quia porro alias illum illo ipsum quos, temporibus quasi in tempore!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolore aut, minima ea quas culpa aspernatur autem. Nisi quaerat quia porro alias illum illo ipsum quos, temporibus quasi in tempore!</p>
            <%- include('partials/design') %>
          </div>
          <div class="img-podcast">
            <img src="/images/podcast3.jpg" alt="podcast3">
          </div>
        </div>
      </section>
      </main>
        <%- include('partials/footer') %>
</body>
</html>